*{
    font-family: "montserrat";
}

.error{
    color: red;
}

.div-main{
    margin-bottom: 10px;
}

.div-sub{
    margin-bottom: 5px;
    color: mediumblue;
    font-weight: bold;
    font-size: 16px
}